# 공기질 데이터 구조
- ## airQuality 파일 안
    - ### 20년 9월.xls
    - ### 20년 10월.xls
    - ### 20년 11월.xls
    - ### 20년 12월.xls
    - ### 21년 1월.xls
    - ### 21년 2월.xls
    - ### 21년 3월.xls
    - ### 21년 4월.xls
    - ### 21년 5월.xls
    - ### 21년 6월.xls

In [1]:
# 예시
import pandas as pd
df = pd.read_excel('./data/airQuality/20년9월.xls')
df

           날짜   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0     (월-일-시)  (㎍/㎥)  (㎍/㎥)  (ppm)  (ppm)  (ppm)  (ppm)
1    09-01-01     16     16  0.026  0.004    0.1  0.001
2    09-01-02     11      9  0.029  0.003    0.1  0.001
3    09-01-03     11      8  0.030  0.004    0.1  0.001
4    09-01-04     17      7  0.031  0.004    0.1  0.001
..        ...    ...    ...    ...    ...    ...    ...
716  09-30-20     41     34  0.061  0.015    0.5  0.004
717  09-30-21     52     41  0.053  0.015    0.3  0.002
718  09-30-22     31     18  0.054  0.011    0.2  0.002
719  09-30-23     28     19  0.057  0.006    0.2  0.002
720  09-30-24     25     18  0.052  0.006    0.2  0.002

[721 rows x 7 columns]

In [2]:
df.describe()

             날짜 PM10 PM2.5    오 존  이산화질소 일산화탄소  아황산가스
count       721  536   528    535    535   535    535
unique      721   61    44     76     40    11     13
top     (월-일-시)   25    17  0.034  0.005   0.3  0.002
freq          1   34    45     31     41   150    230

In [3]:
df.shape

(721, 7)

In [4]:
df.columns

# O3: 오존, NO2 : 이산화질소 CO: 일산화탄소 SO2 : 아황산가스

Index(['날짜', 'PM10', 'PM2.5', '오 존', '이산화질소', '일산화탄소', '아황산가스'], dtype='object')

In [5]:
# 예시

df = pd.read_excel('./data/airQuality/21년6월.xls')
df

           날짜   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0     (월-일-시)  (㎍/㎥)  (㎍/㎥)  (ppm)  (ppm)  (ppm)  (ppm)
1    06-01-01     42     28  0.031  0.026    0.4  0.005
2    06-01-02     41     24  0.038  0.017    0.4  0.004
3    06-01-03     38     26  0.035  0.016    0.4  0.004
4    06-01-04     27     21  0.028  0.019    0.4  0.005
..        ...    ...    ...    ...    ...    ...    ...
716  06-30-20     34     26  0.048  0.025    0.3  0.007
717  06-30-21     32     21  0.042  0.020    0.3  0.005
718  06-30-22     27     24  0.038  0.018    0.3  0.003
719  06-30-23     27     23  0.037  0.014    0.3  0.003
720  06-30-24     31     23  0.034  0.014    0.3  0.004

[721 rows x 7 columns]

논문 사용 공기질 변수
: PM10, PM2.5, O3(오존), NO2(이산화질소), CO(일산화탄소), SO2(아황산가스)

In [6]:
print(df)
# 첫 번째 행 제외해야함

           날짜   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0     (월-일-시)  (㎍/㎥)  (㎍/㎥)  (ppm)  (ppm)  (ppm)  (ppm)
1    06-01-01     42     28  0.031  0.026    0.4  0.005
2    06-01-02     41     24  0.038  0.017    0.4  0.004
3    06-01-03     38     26  0.035  0.016    0.4  0.004
4    06-01-04     27     21  0.028  0.019    0.4  0.005
..        ...    ...    ...    ...    ...    ...    ...
716  06-30-20     34     26  0.048  0.025    0.3  0.007
717  06-30-21     32     21  0.042  0.020    0.3  0.005
718  06-30-22     27     24  0.038  0.018    0.3  0.003
719  06-30-23     27     23  0.037  0.014    0.3  0.003
720  06-30-24     31     23  0.034  0.014    0.3  0.004

[721 rows x 7 columns]

In [25]:
import pandas as pd

air = pd.read_excel('./data/airQuality/20년9월.xls', skiprows=[1])

# print(air.columns)
print(air.head())

         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  09-01-01  16.0   16.0  0.026  0.004    0.1  0.001
1  09-01-02  11.0    9.0  0.029  0.003    0.1  0.001
2  09-01-03  11.0    8.0  0.030  0.004    0.1  0.001
3  09-01-04  17.0    7.0  0.031  0.004    0.1  0.001
4  09-01-05  12.0   11.0  0.031  0.004    0.1  0.001

In [26]:
air.head(100)

          날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0   09-01-01  16.0   16.0  0.026  0.004    0.1  0.001
1   09-01-02  11.0    9.0  0.029  0.003    0.1  0.001
2   09-01-03  11.0    8.0  0.030  0.004    0.1  0.001
3   09-01-04  17.0    7.0  0.031  0.004    0.1  0.001
4   09-01-05  12.0   11.0  0.031  0.004    0.1  0.001
..       ...   ...    ...    ...    ...    ...    ...
95  09-04-24   NaN    NaN    NaN    NaN    NaN    NaN
96  09-05-01   NaN    NaN    NaN    NaN    NaN    NaN
97  09-05-02   NaN    NaN    NaN    NaN    NaN    NaN
98  09-05-03   NaN    NaN    NaN    NaN    NaN    NaN
99  09-05-04   NaN    NaN    NaN    NaN    NaN    NaN

[100 rows x 7 columns]

In [27]:
import pandas as pd

air = pd.read_excel('./data/airQuality/20년9월.xls', skiprows=[1])
print("열 이름: " , air.columns)


# datetime 변환
air['날짜'] = pd.to_datetime(air['날짜'], format='%m-%d-%H')

# 날짜와 시간 열 분리
air['날짜'] = air['날짜'].dt.date
air['시간대'] = air['날짜'].dt.hour


## 오류

열 이름:  Index(['날짜', 'PM10', 'PM2.5', '오 존', '이산화질소', '일산화탄소', '아황산가스'], dtype='object')

ValueError: unconverted data remains: 4

In [23]:
import pandas as pd

air = pd.read_excel('./data/airQuality/20년9월.xls', skiprows=[1])
print("열 이름: " , air.columns)


# datetime 변환
air['날짜'] = pd.to_datetime(air['날짜'], format='%m-%d-%H', errors='coerce')

error_rows = air[air['날짜'].isna()]
if not error_rows.empty:
    print("오류가 발생한 데이터:")
    print(error_rows)
else:
    print("모든 데이터가 올바른 형식입니다.")

열 이름:  Index(['날짜', 'PM10', 'PM2.5', '오 존', '이산화질소', '일산화탄소', '아황산가스'], dtype='object')
오류가 발생한 데이터:
     날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
23  NaT   NaN    NaN    NaN    NaN    NaN    NaN
47  NaT   NaN    NaN    NaN    NaN    NaN    NaN
71  NaT   NaN    NaN    NaN    NaN    NaN    NaN
95  NaT   NaN    NaN    NaN    NaN    NaN    NaN
119 NaT   NaN    NaN    NaN    NaN    NaN    NaN
143 NaT   NaN    NaN    NaN    NaN    NaN    NaN
167 NaT   NaN    NaN    NaN    NaN    NaN    NaN
191 NaT  68.0   54.0  0.077  0.008    0.5  0.002
215 NaT  29.0   17.0  0.039  0.007    0.5  0.001
239 NaT  45.0   30.0  0.040  0.012    0.6  0.002
263 NaT  20.0    NaN  0.044  0.005    0.4  0.001
287 NaT  11.0    6.0  0.047  0.003    0.2  0.001
311 NaT  17.0   12.0  0.027  0.007    0.4  0.001
335 NaT  19.0   12.0  0.019  0.010    0.4  0.001
359 NaT  30.0   21.0  0.041  0.010    0.3  0.002
383 NaT  34.0   24.0  0.004  0.022    0.5  0.002
407 NaT  25.0   19.0  0.031  0.007    0.3  0.001
431 NaT  27.0   18.0  0.025  0.011    0.3  0.001
455 NaT  25.0   20.0  0.056  0.005    0.3  0.002
479 NaT  30.0   22.0  0.037  0.012    0.3  0.002
503 NaT  32.0   17.0  0.043  0.009    0.2  0.002
527 NaT  17.0    9.0  0.036  0.005    0.2  0.001
551 NaT  13.0    8.0  0.036  0.005    0.2  0.001
575 NaT  21.0   17.0  0.036  0.006    0.1  0.001
599 NaT  22.0   13.0  0.031  0.008    0.2  0.002
623 NaT  16.0   12.0  0.037  0.006    0.1  0.001
647 NaT  33.0   20.0  0.033  0.006    0.1  0.002
671 NaT  39.0   22.0  0.012  0.029    0.3  0.002
695 NaT  63.0   24.0  0.032  0.016    0.4  0.002
719 NaT  25.0   18.0  0.052  0.006    0.2  0.002

In [29]:
print("날짜 열의 데이터 타입:", air['날짜'].dtype)

날짜 열의 데이터 타입: object

In [30]:
import pandas as pd
air = pd.read_excel('./data/airQuality/20년9월.xls', skiprows=[1])
air['날짜'] = air['날짜'].astype(str)
air['날짜'] = pd.to_datetime(air['날짜'], format='%m-%d-%H')


# 결과 확인
print(air.head())

# 오류

ValueError: unconverted data remains: 4

In [32]:
# datetime이 24시를 인식하지 못함
# 24시 ---> 00시로 변경 후 날짜 +1

air.head(24)

# 09-01-24를 09-02-00으로 변경해야함

          날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0   09-01-01  16.0   16.0  0.026  0.004    0.1  0.001
1   09-01-02  11.0    9.0  0.029  0.003    0.1  0.001
2   09-01-03  11.0    8.0  0.030  0.004    0.1  0.001
3   09-01-04  17.0    7.0  0.031  0.004    0.1  0.001
4   09-01-05  12.0   11.0  0.031  0.004    0.1  0.001
5   09-01-06  18.0   11.0  0.030  0.005    0.1  0.001
6   09-01-07  17.0   10.0  0.025  0.009    0.1  0.001
7   09-01-08  17.0    9.0  0.020  0.014    0.1  0.001
8   09-01-09  14.0    9.0  0.019  0.015    0.1  0.002
9   09-01-10  21.0   12.0  0.021  0.014    0.1  0.002
10  09-01-11  13.0    7.0  0.026  0.012    0.2  0.002
11  09-01-12  15.0    8.0  0.028  0.014    0.1  0.004
12  09-01-13   NaN    NaN    NaN    NaN    NaN    NaN
13  09-01-14   NaN    NaN    NaN    NaN    NaN    NaN
14  09-01-15   NaN    NaN    NaN    NaN    NaN    NaN
15  09-01-16   NaN    NaN    NaN    NaN    NaN    NaN
16  09-01-17   NaN    NaN    NaN    NaN    NaN    NaN
17  09-01-18   NaN    NaN    NaN    NaN    NaN    NaN
18  09-01-19   NaN    NaN    NaN    NaN    NaN    NaN
19  09-01-20   NaN    NaN    NaN    NaN    NaN    NaN
20  09-01-21   NaN    NaN    NaN    NaN    NaN    NaN
21  09-01-22   NaN    NaN    NaN    NaN    NaN    NaN
22  09-01-23   NaN    NaN    NaN    NaN    NaN    NaN
23  09-01-24   NaN    NaN    NaN    NaN    NaN    NaN

In [42]:
import pandas as pd

# 데이터 불러오기
air = pd.read_excel('./data/airQuality/20년9월.xls', skiprows=[1])

# '24시'를 '00시'로 변경
air['날짜'] =  '2020-' + air['날짜'].str.replace('24$', '00')
# datetime 변경
air['날짜'] = pd.to_datetime(air['날짜'], format='%Y-%m-%d-%H')
# '00'시로 변경 -> 하루 더하기
air['날짜'] = air['날짜'] + pd.to_timedelta((air['날짜'].dt.hour == 0).astype(int), unit='d')

# 날짜와 시간 열 분리
air['공기날짜'] = air['날짜'].dt.date
air['시간대'] = air['날짜'].dt.hour

air.drop('날짜', axis=1, inplace=True)


# 결과 확인
print(air.head())

   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스        공기날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5

C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\3976644864.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  air['날짜'] =  '2020-' + air['날짜'].str.replace('24$', '00')

In [43]:
air.head(100)

    PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스        공기날짜  시간대
0   16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1   11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2   11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3   17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4   12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5
..   ...    ...    ...    ...    ...    ...         ...  ...
95   NaN    NaN    NaN    NaN    NaN    NaN  2020-09-05    0
96   NaN    NaN    NaN    NaN    NaN    NaN  2020-09-05    1
97   NaN    NaN    NaN    NaN    NaN    NaN  2020-09-05    2
98   NaN    NaN    NaN    NaN    NaN    NaN  2020-09-05    3
99   NaN    NaN    NaN    NaN    NaN    NaN  2020-09-05    4

[100 rows x 8 columns]

## 데이터 합치기

In [50]:
from glob import glob

# 2020년 9월부터 12월, 2021년 1월부터 6월까지의 파일 리스트 생성
file_paths_2020 = glob('./data/airQuality/20년9월.xls') + \
                  glob('./data/airQuality/20년10월.xls') + \
                  glob('./data/airQuality/20년11월.xls') + \
                  glob('./data/airQuality/20년12월.xls')

file_paths_2021 = glob('./data/airQuality/21년1월.xls') + \
                  glob('./data/airQuality/21년2월.xls') + \
                  glob('./data/airQuality/21년3월.xls') + \
                  glob('./data/airQuality/21년4월.xls') + \
                  glob('./data/airQuality/21년5월.xls') + \
                  glob('./data/airQuality/21년6월.xls')

# 두 리스트를 합침
file_paths = file_paths_2020 + file_paths_2021

# 파일 리스트 출력
print("파일 리스트:")
print(file_paths)

파일 리스트:
['./data/airQuality/20년9월.xls', './data/airQuality/20년10월.xls', './data/airQuality/20년11월.xls', './data/airQuality/20년12월.xls', './data/airQuality/21년1월.xls', './data/airQuality/21년2월.xls', './data/airQuality/21년3월.xls', './data/airQuality/21년4월.xls', './data/airQuality/21년5월.xls', './data/airQuality/21년6월.xls']

In [53]:
all_data = pd.DataFrame()

for file_path in file_paths:
    air_quality = pd.read_excel(file_path, skiprows=[1])
    print(f"불러온 데이터 ({file_path.split('/')[-1]}):")
    print(air_quality.head())

    # 파일 경로에 따라 년도 추가
    year_if = '2020-' if '20' in file_path else '2021-'
    air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')
    
    # datetime 변환
    air_quality['날짜'] = pd.to_datetime(air_quality['날짜'], format='%Y-%m-%d-%H')
    print(f"날짜 형식 변환 후 데이터:")
    print(air_quality.head())

    # '00시'로 변경된 행에 하루 더함
    air_quality['날짜'] = air_quality['날짜'] + pd.to_timedelta((air_quality['날짜'].dt.hour == 0).astype(int), unit='d')

    # 날짜와 시간 열 분리
    air_quality['공기질 날짜'] = air_quality['날짜'].dt.date
    air_quality['시간대'] = air_quality['날짜'].dt.hour

    # 기존 '날짜' 열 제거
    air_quality.drop('날짜', axis=1, inplace=True)

    # 모든 데이터를 하나의 데이터프레임에 추가
    all_data = pd.concat([all_data, air_quality], ignore_index=True)
    print(f"변경 후 데이터 - 첫 5행:")
    print(all_data.head())

불러온 데이터 (20년9월.xls):
         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  09-01-01  16.0   16.0  0.026  0.004    0.1  0.001
1  09-01-02  11.0    9.0  0.029  0.003    0.1  0.001
2  09-01-03  11.0    8.0  0.030  0.004    0.1  0.001
3  09-01-04  17.0    7.0  0.031  0.004    0.1  0.001
4  09-01-05  12.0   11.0  0.031  0.004    0.1  0.001
날짜 형식 변환 후 데이터:
                   날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0 2020-09-01 01:00:00  16.0   16.0  0.026  0.004    0.1  0.001
1 2020-09-01 02:00:00  11.0    9.0  0.029  0.003    0.1  0.001
2 2020-09-01 03:00:00  11.0    8.0  0.030  0.004    0.1  0.001
3 2020-09-01 04:00:00  17.0    7.0  0.031  0.004    0.1  0.001
4 2020-09-01 05:00:00  12.0   11.0  0.031  0.004    0.1  0.001
변경 후 데이터 - 첫 5행:
   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5
불러온 데이터 (20년10월.xls):
         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  10-01-01  29.0   15.0  0.043  0.006    0.2  0.002
1  10-01-02  19.0   11.0  0.040  0.006    0.2  0.002
2  10-01-03  31.0   17.0  0.045  0.006    0.2  0.002
3  10-01-04  29.0   15.0  0.042  0.005    0.2  0.002
4  10-01-05  28.0   17.0  0.039  0.005    0.2  0.002
날짜 형식 변환 후 데이터:
                   날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0 2020-10-01 01:00:00  29.0   15.0  0.043  0.006    0.2  0.002
1 2020-10-01 02:00:00  19.0   11.0  0.040  0.006    0.2  0.002
2 2020-10-01 03:00:00  31.0   17.0  0.045  0.006    0.2  0.002
3 2020-10-01 04:00:00  29.0   15.0  0.042  0.005    0.2  0.002
4 2020-10-01 05:00:00  28.0   17.0  0.039  0.005    0.2  0.002
변경 후 데이터 - 첫 5행:
   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5
불러온 데이터 (20년11월.xls):
         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  11-01-01  21.0   18.0  0.026  0.011    0.2  0.001
1  11-01-02  21.0   14.0  0.028  0.010    0.2  0.001
2  11-01-03  18.0   14.0  0.024  0.012    0.2  0.002
3  11-01-04  21.0   13.0  0.023  0.011    0.2  0.001
4  11-01-05  22.0   17.0  0.017  0.015    0.2  0.002
날짜 형식 변환 후 데이터:
                   날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0 2020-11-01 01:00:00  21.0   18.0  0.026  0.011    0.2  0.001
1 2020-11-01 02:00:00  21.0   14.0  0.028  0.010    0.2  0.001
2 2020-11-01 03:00:00  18.0   14.0  0.024  0.012    0.2  0.002
3 2020-11-01 04:00:00  21.0   13.0  0.023  0.011    0.2  0.001
4 2020-11-01 05:00:00  22.0   17.0  0.017  0.015    0.2  0.002
변경 후 데이터 - 첫 5행:
   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5
불러온 데이터 (20년12월.xls):
         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  12-01-01  34.0   24.0  0.030  0.008    0.2  0.002
1  12-01-02  33.0   30.0  0.026  0.010    0.2  0.002
2  12-01-03  32.0   25.0  0.021  0.011    0.2  0.001
3  12-01-04  30.0   28.0  0.017  0.014    0.3  0.001
4  12-01-05  29.0   24.0  0.013  0.018    0.2  0.002
날짜 형식 변환 후 데이터:
                   날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0 2020-12-01 01:00:00  34.0   24.0  0.030  0.008    0.2  0.002
1 2020-12-01 02:00:00  33.0   30.0  0.026  0.010    0.2  0.002
2 2020-12-01 03:00:00  32.0   25.0  0.021  0.011    0.2  0.001
3 2020-12-01 04:00:00  30.0   28.0  0.017  0.014    0.3  0.001
4 2020-12-01 05:00:00  29.0   24.0  0.013  0.018    0.2  0.002
변경 후 데이터 - 첫 5행:
   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5
불러온 데이터 (21년1월.xls):
         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  01-01-01  21.0   16.0  0.030  0.005    0.2  0.001
1  01-01-02  20.0   15.0  0.034  0.004    0.2  0.001
2  01-01-03  19.0   17.0  0.032  0.005    0.2  0.001
3  01-01-04  18.0   15.0  0.032  0.005    0.2  0.002
4  01-01-05  18.0   13.0  0.033  0.005    0.2  0.002
날짜 형식 변환 후 데이터:
                   날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0 2021-01-01 01:00:00  21.0   16.0  0.030  0.005    0.2  0.001
1 2021-01-01 02:00:00  20.0   15.0  0.034  0.004    0.2  0.001
2 2021-01-01 03:00:00  19.0   17.0  0.032  0.005    0.2  0.001
3 2021-01-01 04:00:00  18.0   15.0  0.032  0.005    0.2  0.002
4 2021-01-01 05:00:00  18.0   13.0  0.033  0.005    0.2  0.002
변경 후 데이터 - 첫 5행:
   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5
불러온 데이터 (21년2월.xls):
         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  02-01-01  44.0   37.0  0.024  0.020    0.7  0.004
1  02-01-02  45.0   32.0  0.025  0.017    0.8  0.005
2  02-01-03  40.0   39.0  0.013  0.021    0.7  0.004
3  02-01-04  41.0   39.0  0.004  0.032    0.7  0.004
4  02-01-05  40.0   30.0  0.008  0.027    0.7  0.003
날짜 형식 변환 후 데이터:
                   날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0 2021-02-01 01:00:00  44.0   37.0  0.024  0.020    0.7  0.004
1 2021-02-01 02:00:00  45.0   32.0  0.025  0.017    0.8  0.005
2 2021-02-01 03:00:00  40.0   39.0  0.013  0.021    0.7  0.004
3 2021-02-01 04:00:00  41.0   39.0  0.004  0.032    0.7  0.004
4 2021-02-01 05:00:00  40.0   30.0  0.008  0.027    0.7  0.003
변경 후 데이터 - 첫 5행:
   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5

C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\2239411048.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')
C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\2239411048.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')
C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\2239411048.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')
C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\2239411048.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')
C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\2239411048.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')
C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\2239411048.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')

불러온 데이터 (21년3월.xls):
         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  03-01-01  24.0   20.0  0.032  0.007    0.2  0.002
1  03-01-02  27.0   17.0  0.031  0.008    0.3  0.002
2  03-01-03  36.0   18.0  0.016  0.023    0.4  0.003
3  03-01-04  27.0   20.0  0.028  0.004    0.3  0.002
4  03-01-05  27.0   17.0  0.024  0.008    0.3  0.002
날짜 형식 변환 후 데이터:
                   날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0 2021-03-01 01:00:00  24.0   20.0  0.032  0.007    0.2  0.002
1 2021-03-01 02:00:00  27.0   17.0  0.031  0.008    0.3  0.002
2 2021-03-01 03:00:00  36.0   18.0  0.016  0.023    0.4  0.003
3 2021-03-01 04:00:00  27.0   20.0  0.028  0.004    0.3  0.002
4 2021-03-01 05:00:00  27.0   17.0  0.024  0.008    0.3  0.002
변경 후 데이터 - 첫 5행:
   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5
불러온 데이터 (21년4월.xls):
         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  04-01-01  70.0   27.0  0.048  0.013    0.3  0.003
1  04-01-02  69.0   24.0  0.045  0.012    0.3  0.003
2  04-01-03  70.0   29.0  0.040  0.014    0.4  0.003
3  04-01-04  70.0   24.0  0.040  0.012    0.3  0.003
4  04-01-05  67.0   24.0  0.040  0.011    0.3  0.003
날짜 형식 변환 후 데이터:
                   날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0 2021-04-01 01:00:00  70.0   27.0  0.048  0.013    0.3  0.003
1 2021-04-01 02:00:00  69.0   24.0  0.045  0.012    0.3  0.003
2 2021-04-01 03:00:00  70.0   29.0  0.040  0.014    0.4  0.003
3 2021-04-01 04:00:00  70.0   24.0  0.040  0.012    0.3  0.003
4 2021-04-01 05:00:00  67.0   24.0  0.040  0.011    0.3  0.003
변경 후 데이터 - 첫 5행:
   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5
불러온 데이터 (21년5월.xls):
         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  05-01-01  22.0   16.0  0.045  0.012    0.1  0.002
1  05-01-02  25.0   18.0  0.039  0.013    0.2  0.002
2  05-01-03  26.0   21.0  0.040  0.011    0.3  0.003
3  05-01-04  18.0   20.0  0.041  0.011    0.3  0.003
4  05-01-05  23.0   18.0  0.040  0.011    0.4  0.003
날짜 형식 변환 후 데이터:
                   날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0 2021-05-01 01:00:00  22.0   16.0  0.045  0.012    0.1  0.002
1 2021-05-01 02:00:00  25.0   18.0  0.039  0.013    0.2  0.002
2 2021-05-01 03:00:00  26.0   21.0  0.040  0.011    0.3  0.003
3 2021-05-01 04:00:00  18.0   20.0  0.041  0.011    0.3  0.003
4 2021-05-01 05:00:00  23.0   18.0  0.040  0.011    0.4  0.003
변경 후 데이터 - 첫 5행:
   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5
불러온 데이터 (21년6월.xls):
         날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0  06-01-01  42.0   28.0  0.031  0.026    0.4  0.005
1  06-01-02  41.0   24.0  0.038  0.017    0.4  0.004
2  06-01-03  38.0   26.0  0.035  0.016    0.4  0.004
3  06-01-04  27.0   21.0  0.028  0.019    0.4  0.005
4  06-01-05  36.0   21.0  0.025  0.019    0.3  0.005
날짜 형식 변환 후 데이터:
                   날짜  PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0 2021-06-01 01:00:00  42.0   28.0  0.031  0.026    0.4  0.005
1 2021-06-01 02:00:00  41.0   24.0  0.038  0.017    0.4  0.004
2 2021-06-01 03:00:00  38.0   26.0  0.035  0.016    0.4  0.004
3 2021-06-01 04:00:00  27.0   21.0  0.028  0.019    0.4  0.005
4 2021-06-01 05:00:00  36.0   21.0  0.025  0.019    0.3  0.005
변경 후 데이터 - 첫 5행:
   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5

C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\2239411048.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')
C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\2239411048.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')
C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\2239411048.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')
C:\Users\uijin\AppData\Local\Temp\ipykernel_26436\2239411048.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  air_quality['날짜'] = year_if + air_quality['날짜'].str.replace('24$', '00')

In [54]:
# 결과 확인
print(all_data.head())

   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5

In [55]:
all_data.tail()

      PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
7267  34.0   26.0  0.048  0.025    0.3  0.007  2021-06-30   20
7268  32.0   21.0  0.042  0.020    0.3  0.005  2021-06-30   21
7269  27.0   24.0  0.038  0.018    0.3  0.003  2021-06-30   22
7270  27.0   23.0  0.037  0.014    0.3  0.003  2021-06-30   23
7271  31.0   23.0  0.034  0.014    0.3  0.004  2021-07-01    0

In [56]:
# 병합된 데이터를 CSV 파일로 저장
all_data.to_csv('./filtered_data/air_quality.csv', index=False)

print('saved air_quality.csv')

saved air_quality.csv

In [57]:
df = pd.read_csv('./filtered_data/air_quality.csv')
df

      PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스      공기질 날짜  시간대
0     16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1     11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2     11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3     17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4     12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5
...    ...    ...    ...    ...    ...    ...         ...  ...
7267  34.0   26.0  0.048  0.025    0.3  0.007  2021-06-30   20
7268  32.0   21.0  0.042  0.020    0.3  0.005  2021-06-30   21
7269  27.0   24.0  0.038  0.018    0.3  0.003  2021-06-30   22
7270  27.0   23.0  0.037  0.014    0.3  0.003  2021-06-30   23
7271  31.0   23.0  0.034  0.014    0.3  0.004  2021-07-01    0

[7272 rows x 8 columns]

In [ ]:
# 23:31 공기질 데이터 마무리