# 모든 데이터 merged_data.csv로 병합

In [41]:
import pandas as pd

df1 = pd.read_csv('./filtered_data/air_quality.csv')
df2 = pd.read_csv('./filtered_data/truck.csv')
df3 = pd.read_csv('./filtered_data/weather.csv')
df4 = pd.read_csv('./filtered_data/vessel.csv')

In [42]:
print("공기질 데이터: \n",  df1.head())
print("\n\n 차량 데이터: \n", df2.head())
print("\n\n  기상 데이터: \n",  df3.head())
print("\n\n 선박 데이터: \n", df4.head())

공기질 데이터:
    PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스          날짜  시간대
0  16.0   16.0  0.026  0.004    0.1  0.001  2020-09-01    1
1  11.0    9.0  0.029  0.003    0.1  0.001  2020-09-01    2
2  11.0    8.0  0.030  0.004    0.1  0.001  2020-09-01    3
3  17.0    7.0  0.031  0.004    0.1  0.001  2020-09-01    4
4  12.0   11.0  0.031  0.004    0.1  0.001  2020-09-01    5


 차량 데이터:
            날짜  시간대  차량진입횟수                       체류시간
0  2020-09-01    7       8            0 days 00:21:00
1  2020-09-01    8     520  0 days 00:30:33.230769230
2  2020-09-01    9     754  0 days 00:29:29.761273209
3  2020-09-01   10     900  0 days 00:29:26.533333333
4  2020-09-01   11     898  0 days 00:58:36.881959910


  기상 데이터:
            날짜       시간대  기온(°C)  풍속(m/s)  강수량(mm)  습도(%)
0  2020-09-01  00:00:00    21.8      1.1      NaN   90.3
1  2020-09-01  01:00:00    22.1      2.1      0.0   84.1
2  2020-09-01  02:00:00    22.2      1.7      0.0   82.4
3  2020-09-01  03:00:00    22.4      2.8      0.0   81.7
4  2020-09-01  04:00:00    22.5      2.8      0.0   83.5


 선박 데이터:
            날짜       시간대  anchored_count  TotalTonnage
0  2020-09-01  00:00:00               0           0.0
1  2020-09-01  01:00:00               1        9751.0
2  2020-09-01  02:00:00               2        9929.0
3  2020-09-01  03:00:00               4       21044.0
4  2020-09-01  04:00:00               3       20866.0

In [43]:
df1.dtypes

# 날짜 열명 바꾸기

PM10     float64
PM2.5    float64
오 존      float64
이산화질소    float64
일산화탄소    float64
아황산가스    float64
날짜        object
시간대        int64
dtype: object

In [44]:
df2.dtypes

날짜        object
시간대        int64
차량진입횟수     int64
체류시간      object
dtype: object

In [45]:
df3.dtypes

날짜          object
시간대         object
기온(°C)     float64
풍속(m/s)    float64
강수량(mm)    float64
습도(%)      float64
dtype: object

In [46]:
df4.dtypes

날짜                 object
시간대                object
anchored_count      int64
TotalTonnage      float64
dtype: object

In [49]:
# object 형식을 datetime형식으로 변환
df1['날짜'] = pd.to_datetime(df1['날짜'], format='%Y-%m-%d')
df2['날짜'] = pd.to_datetime(df2['날짜'], format='%Y-%m-%d')
df3['날짜'] = pd.to_datetime(df3['날짜'], format='%Y-%m-%d')
df4['날짜'] = pd.to_datetime(df4['날짜'], format='%Y-%m-%d')

In [51]:
# int 형식 시간 - datetime 형식 변환

from datetime import time

def int_to_time(hour_int):
    return time(hour=hour_int)

# 데이터프레임의 '시간대' 열에 int_to_time 함수 적용
df1['시간대'] = df1['시간대'].apply(int_to_time)
df2['시간대'] = df2['시간대'].apply(int_to_time)

In [59]:
print(df1.dtypes)
print("\n\n" ,df2.dtypes)

PM10            float64
PM2.5           float64
오 존             float64
이산화질소           float64
일산화탄소           float64
아황산가스           float64
날짜       datetime64[ns]
시간대              object
dtype: object


 날짜        datetime64[ns]
시간대               object
차량진입횟수             int64
체류시간              object
dtype: object

In [52]:
print(type(df2['시간대'].iloc[0]))

<class 'datetime.time'>

In [53]:
# '시간대' object -> datetime 변환

from datetime import datetime

def str_to_time(time_str):
    return datetime.strptime(time_str, '%H:%M:%S').time()

# 각 데이터프레임에 대해 변환 적용
df3['시간대'] = df3['시간대'].apply(str_to_time)
df4['시간대'] = df4['시간대'].apply(str_to_time)

In [58]:
df3.dtypes

날짜         datetime64[ns]
시간대                object
기온(°C)            float64
풍속(m/s)           float64
강수량(mm)           float64
습도(%)             float64
dtype: object

In [55]:
df4.dtypes

날짜                datetime64[ns]
시간대                       object
anchored_count             int64
TotalTonnage             float64
dtype: object

In [57]:
print(type(df3['시간대'].iloc[0]))

<class 'datetime.time'>

#### 데이터프레임 합치기

In [60]:
# 데이터프레임 합치기
merged_df = df1.merge(df2, on=['날짜', '시간대'], how='outer')
merged_df = merged_df.merge(df3, on=['날짜', '시간대'], how='outer')
merged_df = merged_df.merge(df4, on=['날짜', '시간대'], how='outer')

# 결과 확인
print(merged_df.head())

   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스         날짜       시간대  차량진입횟수 체류시간  \
0  16.0   16.0  0.026  0.004    0.1  0.001 2020-09-01  01:00:00     NaN  NaN
1  11.0    9.0  0.029  0.003    0.1  0.001 2020-09-01  02:00:00     NaN  NaN
2  11.0    8.0  0.030  0.004    0.1  0.001 2020-09-01  03:00:00     NaN  NaN
3  17.0    7.0  0.031  0.004    0.1  0.001 2020-09-01  04:00:00     NaN  NaN
4  12.0   11.0  0.031  0.004    0.1  0.001 2020-09-01  05:00:00     NaN  NaN

   기온(°C)  풍속(m/s)  강수량(mm)  습도(%)  anchored_count  TotalTonnage
0    22.1      2.1      0.0   84.1             1.0        9751.0
1    22.2      1.7      0.0   82.4             2.0        9929.0
2    22.4      2.8      0.0   81.7             4.0       21044.0
3    22.5      2.8      0.0   83.5             3.0       20866.0
4    22.1      2.1      0.0   84.2             3.0       20866.0

In [68]:
merged_df

,PM10,PM2.5,오 존,이산화질소,일산화탄소,아황산가스,날짜,시간대,차량진입횟수,체류시간,기온(°C),풍속(m/s),강수량(mm),습도(%),anchored_count,TotalTonnage
0,16.0,16.0,0.026,0.004,0.1,0.001,2020-09-01,01:00:00,NaN,NaN,22.1,2.1,0.0,84.1,1.0,9751.0
1,11.0,9.0,0.029,0.003,0.1,0.001,2020-09-01,02:00:00,NaN,NaN,22.2,1.7,0.0,82.4,2.0,9929.0
2,11.0,8.0,0.030,0.004,0.1,0.001,2020-09-01,03:00:00,NaN,NaN,22.4,2.8,0.0,81.7,4.0,21044.0
3,17.0,7.0,0.031,0.004,0.1,0.001,2020-09-01,04:00:00,NaN,NaN,22.5,2.8,0.0,83.5,3.0,20866.0
4,12.0,11.0,0.031,0.004,0.1,0.001,2020-09-01,05:00:00,NaN,NaN,22.1,2.1,0.0,84.2,3.0,20866.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7268,32.0,21.0,0.042,0.020,0.3,0.005,2021-06-30,21:00:00,49.0,0 days 00:35:33.816326530,NaN,NaN,NaN,NaN,81.0,NaN
7269,27.0,24.0,0.038,0.018,0.3,0.003,2021-06-30,22:00:00,16.0,0 days 00:16:34.875000,NaN,NaN,NaN,NaN,80.0,NaN
7270,27.0,23.0,0.037,0.014,0.3,0.003,2021-06-30,23:00:00,4.0,0 days 00:20:26.500000,NaN,NaN,NaN,NaN,79.0,NaN
7271,31.0,23.0,0.034,0.014,0.3,0.004,2021-07-01,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7272,NaN,NaN,NaN,NaN,NaN,NaN,2020-09-01,00:00:00,NaN,NaN,21.8,1.1,NaN,90.3,0.0,0.0

In [70]:
# '날짜'와 '시간대' 열을 맨 앞으로 이동
cols = ['날짜', '시간대','차량진입횟수','체류시간','anchored_count','TotalTonnage']  # 맨 앞으로 이동시킬 열 이름
other_cols = [col for col in merged_df.columns if col not in cols]  # 나머지 열
other_cols
merged_data = merged_df[cols + other_cols]

# 결과 확인
print(merged_data.head())

          날짜       시간대  차량진입횟수 체류시간  anchored_count  TotalTonnage  PM10  \
0 2020-09-01  01:00:00     NaN  NaN             1.0        9751.0  16.0
1 2020-09-01  02:00:00     NaN  NaN             2.0        9929.0  11.0
2 2020-09-01  03:00:00     NaN  NaN             4.0       21044.0  11.0
3 2020-09-01  04:00:00     NaN  NaN             3.0       20866.0  17.0
4 2020-09-01  05:00:00     NaN  NaN             3.0       20866.0  12.0

   PM2.5    오 존  이산화질소  일산화탄소  아황산가스  기온(°C)  풍속(m/s)  강수량(mm)  습도(%)
0   16.0  0.026  0.004    0.1  0.001    22.1      2.1      0.0   84.1
1    9.0  0.029  0.003    0.1  0.001    22.2      1.7      0.0   82.4
2    8.0  0.030  0.004    0.1  0.001    22.4      2.8      0.0   81.7
3    7.0  0.031  0.004    0.1  0.001    22.5      2.8      0.0   83.5
4   11.0  0.031  0.004    0.1  0.001    22.1      2.1      0.0   84.2

In [71]:
merged_data

,날짜,시간대,차량진입횟수,체류시간,anchored_count,TotalTonnage,PM10,PM2.5,오 존,이산화질소,일산화탄소,아황산가스,기온(°C),풍속(m/s),강수량(mm),습도(%)
0,2020-09-01,01:00:00,NaN,NaN,1.0,9751.0,16.0,16.0,0.026,0.004,0.1,0.001,22.1,2.1,0.0,84.1
1,2020-09-01,02:00:00,NaN,NaN,2.0,9929.0,11.0,9.0,0.029,0.003,0.1,0.001,22.2,1.7,0.0,82.4
2,2020-09-01,03:00:00,NaN,NaN,4.0,21044.0,11.0,8.0,0.030,0.004,0.1,0.001,22.4,2.8,0.0,81.7
3,2020-09-01,04:00:00,NaN,NaN,3.0,20866.0,17.0,7.0,0.031,0.004,0.1,0.001,22.5,2.8,0.0,83.5
4,2020-09-01,05:00:00,NaN,NaN,3.0,20866.0,12.0,11.0,0.031,0.004,0.1,0.001,22.1,2.1,0.0,84.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7268,2021-06-30,21:00:00,49.0,0 days 00:35:33.816326530,81.0,NaN,32.0,21.0,0.042,0.020,0.3,0.005,NaN,NaN,NaN,NaN
7269,2021-06-30,22:00:00,16.0,0 days 00:16:34.875000,80.0,NaN,27.0,24.0,0.038,0.018,0.3,0.003,NaN,NaN,NaN,NaN
7270,2021-06-30,23:00:00,4.0,0 days 00:20:26.500000,79.0,NaN,27.0,23.0,0.037,0.014,0.3,0.003,NaN,NaN,NaN,NaN
7271,2021-07-01,00:00:00,NaN,NaN,NaN,NaN,31.0,23.0,0.034,0.014,0.3,0.004,NaN,NaN,NaN,NaN
7272,2020-09-01,00:00:00,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,21.8,1.1,NaN,90.3

In [72]:
print(merged_df.columns)
print(merged_data.columns)

Index(['PM10', 'PM2.5', '오 존', '이산화질소', '일산화탄소', '아황산가스', '날짜', '시간대',
       '차량진입횟수', '체류시간', '기온(°C)', '풍속(m/s)', '강수량(mm)', '습도(%)',
       'anchored_count', 'TotalTonnage'],
      dtype='object')
Index(['날짜', '시간대', '차량진입횟수', '체류시간', 'anchored_count', 'TotalTonnage', 'PM10',
       'PM2.5', '오 존', '이산화질소', '일산화탄소', '아황산가스', '기온(°C)', '풍속(m/s)',
       '강수량(mm)', '습도(%)'],
      dtype='object')

In [73]:
# csv 파일로 저장
merged_data.to_csv('./filtered_data/merged_data.csv', index=False)

print('saved merged_data.csv')

saved merged_data.csv