# 데이터 구조
- ## 기상 데이터
- ## 공기질 데이터
- ## 운영 데이터
    - ### 국제 터미널
    - ### 서부 터미널(GWCT)
    - ### 선박 입출항현황

# 기상 데이터 구조
## 파일 이름 : 
*'SURFACE_AWS_856_HR_2020.csv', 'SURFACE_AWS_856_HR_2021.csv'*

In [33]:
import os

# 현재 작업 중인 디렉토리의 절대 경로를 얻습니다.
current_directory = os.getcwd()

print("현재 디렉토리:", current_directory)

현재 디렉토리: C:\Users\uijin\pythonWorkSpace\pythonWorkSpace\2023_dankook\Final\1

In [10]:
import pandas as pd

In [12]:
import pandas as pd
df1 = pd.read_csv('./data/meteo/SURFACE_AWS_856_HR_2020.csv', encoding="cp949")
df1

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
0,856,2020-01-01 00:00,-7.2,315.1,6.5,0.0,NaN,NaN,46.5,0,0
1,856,2020-01-01 01:00,-7.4,304.2,5.8,0.0,NaN,NaN,42.7,0,0
2,856,2020-01-01 02:00,-6.3,333.4,3.7,0.0,NaN,NaN,30.2,0,0
3,856,2020-01-01 03:00,-7.2,322.7,1.4,0.0,NaN,NaN,41.2,0,0
4,856,2020-01-01 04:00,-5.8,321.6,2.6,0.0,NaN,NaN,48.2,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8779,856,2020-12-31 19:00,-4.0,15.1,1.9,0.0,NaN,NaN,79.3,0,0
8780,856,2020-12-31 20:00,-4.0,11.4,2.5,0.0,NaN,NaN,80.5,0,0
8781,856,2020-12-31 21:00,-4.0,5.3,2.9,0.0,NaN,NaN,83.5,0,0
8782,856,2020-12-31 22:00,-3.7,1.9,4.3,0.0,NaN,NaN,80.3,0,0
8783,856,2020-12-31 23:00,-4.0,358.9,4.5,0.0,NaN,NaN,83.5,0,0

In [16]:
print(df1.columns)

Index(['지점', '일시', '기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)', '현지기압(hPa)',
       '해면기압(hPa)', '습도(%)', '일사(MJ/m^2)', '일조(hr)'],
      dtype='object')

In [13]:
import pandas as pd

pd.set_option('display.max_rows', 200)

print(df1)

       지점                일시  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  현지기압(hPa)  \
0     856  2020-01-01 00:00    -7.2    315.1      6.5      0.0        NaN
1     856  2020-01-01 01:00    -7.4    304.2      5.8      0.0        NaN
2     856  2020-01-01 02:00    -6.3    333.4      3.7      0.0        NaN
3     856  2020-01-01 03:00    -7.2    322.7      1.4      0.0        NaN
4     856  2020-01-01 04:00    -5.8    321.6      2.6      0.0        NaN
...   ...               ...     ...      ...      ...      ...        ...
8779  856  2020-12-31 19:00    -4.0     15.1      1.9      0.0        NaN
8780  856  2020-12-31 20:00    -4.0     11.4      2.5      0.0        NaN
8781  856  2020-12-31 21:00    -4.0      5.3      2.9      0.0        NaN
8782  856  2020-12-31 22:00    -3.7      1.9      4.3      0.0        NaN
8783  856  2020-12-31 23:00    -4.0    358.9      4.5      0.0        NaN

      해면기압(hPa)  습도(%)  일사(MJ/m^2)  일조(hr)
0           NaN   46.5           0       0
1           NaN   42.7           0       0
2           NaN   30.2           0       0
3           NaN   41.2           0       0
4           NaN   48.2           0       0
...         ...    ...         ...     ...
8779        NaN   79.3           0       0
8780        NaN   80.5           0       0
8781        NaN   83.5           0       0
8782        NaN   80.3           0       0
8783        NaN   83.5           0       0

[8784 rows x 11 columns]

In [14]:
df1.tail(20)

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
8764,856,2020-12-31 04:00,-9.5,358.7,5.4,0.0,NaN,NaN,66.7,0,0
8765,856,2020-12-31 05:00,-9.3,351.7,5.9,0.0,NaN,NaN,65.4,0,0
8766,856,2020-12-31 06:00,-9.0,348.5,6.1,0.0,NaN,NaN,65.7,0,0
8767,856,2020-12-31 07:00,-8.6,355.5,5.5,0.0,NaN,NaN,65.6,0,0
8768,856,2020-12-31 08:00,-8.1,345.0,5.2,0.0,NaN,NaN,63.9,0,0
8769,856,2020-12-31 09:00,-6.5,358.6,4.9,0.0,NaN,NaN,62.1,0,0
8770,856,2020-12-31 10:00,-5.4,344.0,3.6,0.0,NaN,NaN,61.3,0,0
8771,856,2020-12-31 11:00,-4.4,346.8,3.7,0.0,NaN,NaN,58.3,0,0
8772,856,2020-12-31 12:00,-4.0,352.6,4.6,0.0,NaN,NaN,59.8,0,0
8773,856,2020-12-31 13:00,-3.3,351.1,4.3,0.0,NaN,NaN,61.1,0,0
8774,856,2020-12-31 14:00,-2.8,2.0,3.0,0.0,NaN,NaN,60.2,0,0
8775,856,2020-12-31 15:00,-3.6,356.4,2.6,0.0,NaN,NaN,67.8,0,0
8776,856,2020-12-31 16:00,-3.8,8.8,2.3,0.0,NaN,NaN,71.2,0,0
8777,856,2020-12-31 17:00,-4.1,355.6,3.1,0.0,NaN,NaN,75.9,0,0
8778,856,2020-12-31 18:00,-4.1,1.1,1.8,0.0,NaN,NaN,75.7,0,0
8779,856,2020-12-31 19:00,-4.0,15.1,1.9,0.0,NaN,NaN,79.3,0,0
8780,856,2020-12-31 20:00,-4.0,11.4,2.5,0.0,NaN,NaN,80.5,0,0
8781,856,2020-12-31 21:00,-4.0,5.3,2.9,0.0,NaN,NaN,83.5,0,0
8782,856,2020-12-31 22:00,-3.7,1.9,4.3,0.0,NaN,NaN,80.3,0,0
8783,856,2020-12-31 23:00,-4.0,358.9,4.5,0.0,NaN,NaN,83.5,0,0

In [18]:
df2 = pd.read_csv('./data/meteo/SURFACE_AWS_856_HR_2021.csv', encoding="cp949")
df2

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
0,856,2021-01-01 00:00,-4.6,349.4,5.0,0.0,NaN,NaN,72.6,0,0
1,856,2021-01-01 01:00,-5.8,359.1,5.7,0.0,NaN,NaN,70.6,0,0
2,856,2021-01-01 02:00,-5.5,353.4,4.7,0.0,NaN,NaN,71.8,0,0
3,856,2021-01-01 03:00,-5.2,356.9,4.8,0.0,NaN,NaN,75.3,0,0
4,856,2021-01-01 04:00,-5.3,1.3,4.7,0.0,NaN,NaN,74.8,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8755,856,2021-12-31 19:00,-5.5,343.1,4.7,0.0,NaN,NaN,57.4,0,0
8756,856,2021-12-31 20:00,-6.1,329.0,3.1,0.0,NaN,NaN,60.4,0,0
8757,856,2021-12-31 21:00,-6.5,341.9,3.7,0.0,NaN,NaN,60.7,0,0
8758,856,2021-12-31 22:00,-6.7,330.2,3.8,0.0,NaN,NaN,58.9,0,0
8759,856,2021-12-31 23:00,-7.1,310.4,5.5,0.0,NaN,NaN,56.5,0,0

In [19]:
print(df2.columns)

Index(['지점', '일시', '기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)', '현지기압(hPa)',
       '해면기압(hPa)', '습도(%)', '일사(MJ/m^2)', '일조(hr)'],
      dtype='object')

In [20]:
import pandas as pd

pd.set_option('display.max_rows', 200)

print(df2)

       지점                일시  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  현지기압(hPa)  \
0     856  2021-01-01 00:00    -4.6    349.4      5.0      0.0        NaN
1     856  2021-01-01 01:00    -5.8    359.1      5.7      0.0        NaN
2     856  2021-01-01 02:00    -5.5    353.4      4.7      0.0        NaN
3     856  2021-01-01 03:00    -5.2    356.9      4.8      0.0        NaN
4     856  2021-01-01 04:00    -5.3      1.3      4.7      0.0        NaN
...   ...               ...     ...      ...      ...      ...        ...
8755  856  2021-12-31 19:00    -5.5    343.1      4.7      0.0        NaN
8756  856  2021-12-31 20:00    -6.1    329.0      3.1      0.0        NaN
8757  856  2021-12-31 21:00    -6.5    341.9      3.7      0.0        NaN
8758  856  2021-12-31 22:00    -6.7    330.2      3.8      0.0        NaN
8759  856  2021-12-31 23:00    -7.1    310.4      5.5      0.0        NaN

      해면기압(hPa)  습도(%)  일사(MJ/m^2)  일조(hr)
0           NaN   72.6           0       0
1           NaN   70.6           0       0
2           NaN   71.8           0       0
3           NaN   75.3           0       0
4           NaN   74.8           0       0
...         ...    ...         ...     ...
8755        NaN   57.4           0       0
8756        NaN   60.4           0       0
8757        NaN   60.7           0       0
8758        NaN   58.9           0       0
8759        NaN   56.5           0       0

[8760 rows x 11 columns]

In [21]:
df2.tail(20)

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
8740,856,2021-12-31 04:00,-5.9,344.1,5.3,0.0,NaN,NaN,64.3,0,0
8741,856,2021-12-31 05:00,-5.9,343.8,4.3,0.0,NaN,NaN,62.0,0,0
8742,856,2021-12-31 06:00,-6.0,342.8,4.9,0.0,NaN,NaN,61.3,0,0
8743,856,2021-12-31 07:00,-5.8,344.2,4.6,0.0,NaN,NaN,61.9,0,0
8744,856,2021-12-31 08:00,-5.7,345.7,4.7,0.0,NaN,NaN,62.3,0,0
8745,856,2021-12-31 09:00,-4.7,346.7,4.6,0.0,NaN,NaN,60.9,0,0
8746,856,2021-12-31 10:00,-4.1,341.8,4.9,0.0,NaN,NaN,60.6,0,0
8747,856,2021-12-31 11:00,-3.4,352.1,5.3,0.0,NaN,NaN,56.0,0,0
8748,856,2021-12-31 12:00,-2.8,354.7,3.9,0.0,NaN,NaN,51.2,0,0
8749,856,2021-12-31 13:00,-2.3,356.6,5.9,0.0,NaN,NaN,51.2,0,0
8750,856,2021-12-31 14:00,-1.7,352.6,5.3,0.0,NaN,NaN,46.0,0,0
8751,856,2021-12-31 15:00,-2.0,8.0,4.6,0.0,NaN,NaN,43.4,0,0
8752,856,2021-12-31 16:00,-2.7,2.9,5.6,0.0,NaN,NaN,47.2,0,0
8753,856,2021-12-31 17:00,-4.2,2.9,4.2,0.0,NaN,NaN,52.0,0,0
8754,856,2021-12-31 18:00,-5.0,354.2,3.8,0.0,NaN,NaN,54.0,0,0
8755,856,2021-12-31 19:00,-5.5,343.1,4.7,0.0,NaN,NaN,57.4,0,0
8756,856,2021-12-31 20:00,-6.1,329.0,3.1,0.0,NaN,NaN,60.4,0,0
8757,856,2021-12-31 21:00,-6.5,341.9,3.7,0.0,NaN,NaN,60.7,0,0
8758,856,2021-12-31 22:00,-6.7,330.2,3.8,0.0,NaN,NaN,58.9,0,0
8759,856,2021-12-31 23:00,-7.1,310.4,5.5,0.0,NaN,NaN,56.5,0,0

# 기상 데이터 구조

### 2020년 1월 ~ 12월 - 기온, 풍향, 풍속, 강수량, 현지기압, 해면기압, 습도, 일사, 일조 데이터가 들어가있음
### 2021년 1월 ~ 12월 - 기온, 풍향, 풍속, 강수량, 현지기압, 해면기압, 습도, 일사, 일조 데이터가 들어가있음

# 공기질 데이터 구조
- ## airQuality 파일 안
    - ### 20년 9월.xls
    - ### 20년 10월.xls
    - ### 20년 11월.xls
    - ### 20년 12월.xls
    - ### 21년 1월.xls
    - ### 21년 2월.xls
    - ### 21년 3월.xls
    - ### 21년 4월.xls
    - ### 21년 5월.xls
    - ### 21년 6월.xls

In [46]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---------------- --------------------- 41.0/96.5 kB 653.6 kB/s eta 0:00:01
     ---------------------------------------- 96.5/96.5 kB 1.4 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [22]:
# 예시
import pandas as pd
df = pd.read_excel('./data/airQuality/20년9월.xls')
df

           날짜   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0     (월-일-시)  (㎍/㎥)  (㎍/㎥)  (ppm)  (ppm)  (ppm)  (ppm)
1    09-01-01     16     16  0.026  0.004    0.1  0.001
2    09-01-02     11      9  0.029  0.003    0.1  0.001
3    09-01-03     11      8  0.030  0.004    0.1  0.001
4    09-01-04     17      7  0.031  0.004    0.1  0.001
..        ...    ...    ...    ...    ...    ...    ...
716  09-30-20     41     34  0.061  0.015    0.5  0.004
717  09-30-21     52     41  0.053  0.015    0.3  0.002
718  09-30-22     31     18  0.054  0.011    0.2  0.002
719  09-30-23     28     19  0.057  0.006    0.2  0.002
720  09-30-24     25     18  0.052  0.006    0.2  0.002

[721 rows x 7 columns]

In [23]:
df.describe()

             날짜 PM10 PM2.5    오 존  이산화질소 일산화탄소  아황산가스
count       721  536   528    535    535   535    535
unique      721   61    44     76     40    11     13
top     (월-일-시)   25    17  0.034  0.005   0.3  0.002
freq          1   34    45     31     41   150    230

In [24]:
df.shape

(721, 7)

In [25]:
df.columns

# O3: 오존, NO2 : 이산화질소 CO: 일산화탄소 SO2 : 아황산가스

Index(['날짜', 'PM10', 'PM2.5', '오 존', '이산화질소', '일산화탄소', '아황산가스'], dtype='object')

In [52]:
# 예시

df = pd.read_excel('./data/airQuality/20년10월.xls')
df

           날짜   PM10  PM2.5    오 존  이산화질소  일산화탄소  아황산가스
0     (월-일-시)  (㎍/㎥)  (㎍/㎥)  (ppm)  (ppm)  (ppm)  (ppm)
1    10-01-01     29     15  0.043  0.006    0.2  0.002
2    10-01-02     19     11  0.040  0.006    0.2  0.002
3    10-01-03     31     17  0.045  0.006    0.2  0.002
4    10-01-04     29     15  0.042  0.005    0.2  0.002
..        ...    ...    ...    ...    ...    ...    ...
740  10-31-20     33     28  0.039  0.016    0.3  0.002
741  10-31-21     33     21  0.031  0.015    0.3  0.002
742  10-31-22     29     16  0.032  0.012    0.2  0.002
743  10-31-23     22     19  0.031  0.011    0.2  0.001
744  10-31-24     19     14  0.027  0.013    0.2  0.002

[745 rows x 7 columns]

In [53]:
df.shape

(745, 7)

In [ ]:
# 예시

df = pd.read_excel('./data/airQuality/21년6월.xls')
df

# terminal_operation 데이터 구조
- GWCT
    - GWCT_202009.csv
    - GWCT_202010.csv
    - GWCT_202011.csv
    - GWCT_202012.csv
    - GWCT_2021_first_half.csv
- KIT
    - KIT_202009.csv
    - KIT_202010.csv 
    - KIT_202011.csv
    - KIT_202012.csv
    - KIT_2021_first_half.csv
- totalTons.xlsx

In [26]:
# 예)

df = pd.read_csv('./daTruck_data_processing.ipynbta/terminal_operation/GWCT/GWCT_202009.csv', encoding="cp949")
df

,차량번호,진입게이트,진입일시,진출게이트,진출일시,작업시간,터미널
0,경남99바****,4번 GATE,2020-09-01 07:58,10번 GATE,2020-09-01 08:06,00:07:02,GWCT
1,경남99바****,2번 GATE,2020-09-01 07:59,8번 GATE,2020-09-01 08:24,00:24:19,GWCT
2,울산99바****,5번 GATE,2020-09-01 08:00,10번 GATE,2020-09-01 08:28,00:28:16,GWCT
3,광주99바****,2번 GATE,2020-09-01 08:00,8번 GATE,2020-09-01 08:44,00:44:36,GWCT
4,광주99사****,4번 GATE,2020-09-01 08:00,10번 GATE,2020-09-01 08:11,00:10:46,GWCT
...,...,...,...,...,...,...,...
98676,부산99사****,5번 GATE,2020-09-30 19:00,9번 GATE,2020-09-30 19:12,00:11:55,KIT
98677,전남80바****,4번 GATE,2020-09-30 19:02,9번 GATE,2020-09-30 19:13,00:11:03,KIT
98678,전남98바****,5번 GATE,2020-09-30 19:21,8번 GATE,2020-09-30 20:48,01:26:30,KIT
98679,전남98바****,4번 GATE,2020-09-30 19:55,9번 GATE,2020-09-30 20:55,00:59:57,KIT
98680,전남98바****,4번 GATE,2020-09-30 22:34,10번 GATE,2020-09-30 22:53,00:19:12,KIT

In [32]:
import pandas as pd

pd.set_option('display.max_rows', 20)

print(df)

            차량번호    진입게이트              진입일시     진출게이트              진출일시  \
0      경남99바****  4번 GATE  2020-09-01 07:58  10번 GATE  2020-09-01 08:06
1      경남99바****  2번 GATE  2020-09-01 07:59   8번 GATE  2020-09-01 08:24
2      울산99바****  5번 GATE  2020-09-01 08:00  10번 GATE  2020-09-01 08:28
3      광주99바****  2번 GATE  2020-09-01 08:00   8번 GATE  2020-09-01 08:44
4      광주99사****  4번 GATE  2020-09-01 08:00  10번 GATE  2020-09-01 08:11
...          ...      ...               ...       ...               ...
98676  부산99사****  5번 GATE  2020-09-30 19:00   9번 GATE  2020-09-30 19:12
98677  전남80바****  4번 GATE  2020-09-30 19:02   9번 GATE  2020-09-30 19:13
98678  전남98바****  5번 GATE  2020-09-30 19:21   8번 GATE  2020-09-30 20:48
98679  전남98바****  4번 GATE  2020-09-30 19:55   9번 GATE  2020-09-30 20:55
98680  전남98바****  4번 GATE  2020-09-30 22:34  10번 GATE  2020-09-30 22:53

           작업시간   터미널
0      00:07:02  GWCT
1      00:24:19  GWCT
2      00:28:16  GWCT
3      00:44:36  GWCT
4      00:10:46  GWCT
...         ...   ...
98676  00:11:55   KIT
98677  00:11:03   KIT
98678  01:26:30   KIT
98679  00:59:57   KIT
98680  00:19:12   KIT

[98681 rows x 7 columns]

In [57]:
df.tail(20)

,차량번호,진입게이트,진입일시,진출게이트,진출일시,작업시간,터미널
98661,전남98바****,5번 GATE,2020-09-30 15:43,9번 GATE,2020-09-30 16:35,00:51:40,KIT
98662,전남98사****,1번 GATE,2020-09-30 15:48,8번 GATE,2020-09-30 16:13,00:24:55,KIT
98663,경남99사****,4번 GATE,2020-09-30 15:55,10번 GATE,2020-09-30 16:27,00:31:47,KIT
98664,전북99사****,4번 GATE,2020-09-30 16:10,10번 GATE,2020-09-30 16:31,00:20:33,KIT
98665,광주99사****,4번 GATE,2020-09-30 16:14,8번 GATE,2020-09-30 16:54,00:40:10,KIT
98666,광주98아****,5번 GATE,2020-09-30 16:20,8번 GATE,2020-09-30 16:21,00:00:28,KIT
98667,광주98자****,4번 GATE,2020-09-30 16:20,8번 GATE,2020-09-30 16:21,00:00:31,KIT
98668,광주98사****,4번 GATE,2020-09-30 16:21,9번 GATE,2020-09-30 16:22,00:01:13,KIT
98669,전북98사****,1번 GATE,2020-09-30 16:43,10번 GATE,2020-09-30 17:07,00:23:31,KIT
98670,광주99사****,4번 GATE,2020-09-30 17:02,8번 GATE,2020-09-30 17:35,00:33:14,KIT
98671,전남98사****,5번 GATE,2020-09-30 17:07,8번 GATE,2020-09-30 17:18,00:10:31,KIT
98672,부산99바****,1번 GATE,2020-09-30 17:34,10번 GATE,2020-09-30 18:12,00:37:47,KIT
98673,부산99사****,1번 GATE,2020-09-30 17:35,10번 GATE,2020-09-30 18:14,00:38:57,KIT
98674,광주99사****,4번 GATE,2020-09-30 17:37,8번 GATE,2020-09-30 18:26,00:48:55,KIT
98675,부산99바****,5번 GATE,2020-09-30 19:00,10번 GATE,2020-09-30 19:08,00:08:02,KIT
98676,부산99사****,5번 GATE,2020-09-30 19:00,9번 GATE,2020-09-30 19:12,00:11:55,KIT
98677,전남80바****,4번 GATE,2020-09-30 19:02,9번 GATE,2020-09-30 19:13,00:11:03,KIT
98678,전남98바****,5번 GATE,2020-09-30 19:21,8번 GATE,2020-09-30 20:48,01:26:30,KIT
98679,전남98바****,4번 GATE,2020-09-30 19:55,9번 GATE,2020-09-30 20:55,00:59:57,KIT
98680,전남98바****,4번 GATE,2020-09-30 22:34,10번 GATE,2020-09-30 22:53,00:19:12,KIT

In [4]:
# 예)
import pandas as pd
df = pd.read_csv('./data/terminal_operation/KIT/KIT_2021_first_half.csv', encoding="utf-8")
df

,차량번호,진입게이트,진입일시,진출게이트,진출일시,작업시간
0,전남98사****,5번 GATE,2021-01-05 13:15:18,9번 GATE,2021-01-05 13:46:21,31:03
1,부산98바****,4번 GATE,2021-01-05 13:15:20,10번 GATE,2021-01-05 13:36:41,21:21
2,경남99바****,5번 GATE,2021-01-05 13:15:38,9번 GATE,2021-01-05 13:32:13,16:35
3,전남98사****,3번 GATE,2021-01-05 13:15:55,10번 GATE,2021-01-05 13:40:27,24:32
4,경북98아****,4번 GATE,2021-01-05 13:15:56,10번 GATE,2021-01-05 13:50:16,34:20
...,...,...,...,...,...,...
203648,전북98사****,4번 GATE,2021-06-30 21:54:09,10번 GATE,2021-06-30 22:20:24,26:15
203649,전남98아****,4번 GATE,2021-06-30 22:24:48,10번 GATE,2021-06-30 22:40:10,15:22
203650,광주99바****,4번 GATE,2021-06-30 22:27:05,10번 GATE,2021-06-30 22:48:49,21:44
203651,전북98사****,4번 GATE,2021-06-30 23:01:38,10번 GATE,2021-06-30 23:19:12,17:34
203652,경기98아****,4번 GATE,2021-06-30 23:11:19,10번 GATE,2021-06-30 23:31:42,20:23

In [60]:
df.tail(20)

,차량번호,진입게이트,진입일시,진출게이트,진출일시,작업시간
203633,광주99바****,4번 GATE,2021-06-30 21:09:06,10번 GATE,2021-06-30 21:43:02,33:56
203634,전남98바****,1번 GATE,2021-06-30 21:09:41,10번 GATE,2021-06-30 22:23:00,01:13:19
203635,인천99바****,4번 GATE,2021-06-30 21:10:00,10번 GATE,2021-06-30 21:19:27,09:27
203636,충남98사****,5번 GATE,2021-06-30 21:10:16,9번 GATE,2021-06-30 21:18:38,08:22
203637,광주98자****,4번 GATE,2021-06-30 21:11:23,8번 GATE,2021-06-30 21:14:18,02:55
203638,전북98사****,5번 GATE,2021-06-30 21:12:22,8번 GATE,2021-06-30 22:07:24,55:02
203639,경기99사****,4번 GATE,2021-06-30 21:12:35,8번 GATE,2021-06-30 21:53:35,41:00
203640,전남98사****,4번 GATE,2021-06-30 21:15:17,9번 GATE,2021-06-30 21:25:45,10:28
203641,전남98바****,5번 GATE,2021-06-30 21:15:31,10번 GATE,2021-06-30 21:48:21,32:50
203642,전남98사****,4번 GATE,2021-06-30 21:16:23,10번 GATE,2021-06-30 21:46:38,30:15
203643,경기98아****,5번 GATE,2021-06-30 21:16:27,10번 GATE,2021-06-30 22:13:42,57:15
203644,광주98자****,4번 GATE,2021-06-30 21:16:53,9번 GATE,2021-06-30 21:31:47,14:54
203645,전남98바****,4번 GATE,2021-06-30 21:25:45,10번 GATE,2021-06-30 21:37:55,12:10
203646,전남98바****,4번 GATE,2021-06-30 21:35:56,8번 GATE,2021-06-30 21:58:52,22:56
203647,경기98자****,5번 GATE,2021-06-30 21:37:51,8번 GATE,2021-06-30 22:39:06,01:01:15
203648,전북98사****,4번 GATE,2021-06-30 21:54:09,10번 GATE,2021-06-30 22:20:24,26:15
203649,전남98아****,4번 GATE,2021-06-30 22:24:48,10번 GATE,2021-06-30 22:40:10,15:22
203650,광주99바****,4번 GATE,2021-06-30 22:27:05,10번 GATE,2021-06-30 22:48:49,21:44
203651,전북98사****,4번 GATE,2021-06-30 23:01:38,10번 GATE,2021-06-30 23:19:12,17:34
203652,경기98아****,4번 GATE,2021-06-30 23:11:19,10번 GATE,2021-06-30 23:31:42,20:23

In [6]:
# 예)

import pandas as pd
df = pd.read_excel('./data/terminal_operation/선박입출항현황.xlsx', header=11)
df

C:\Users\uijin\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,...,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
0,광양,100148,티에스해피호,2019,32,최종,내항,출항,"3,407",2019-11-30 11:20,...,기타항,기타항,산물선(벌크선),5.0,0.0,0.0,Y,Y,NaN,NaN
1,광양,203402,더블유에스-2701,2020,2,최종,내항,출항,64,2020-08-03 09:00,...,군산,군산,기타선,3.0,0.0,0.0,N,N,NaN,NaN
2,광양,3EVV6,SPINNAKER SW,2020,1,최종,외항,출항,"19,836",2020-08-19 03:24,...,LAEM CHABANG,NANTONG PT,산물선(벌크선),NaN,19.0,NaN,Y,Y,NaN,NaN
3,광양,500HANJIN,한진그린호,2020,9,최종,내항,출항,"9,571",2020-08-20 06:50,...,기타항,기타항,석탄운반선,5.0,6.0,0.0,Y,Y,NaN,NaN
4,광양,D9KX,적봉호,2020,8,최종,내항,출항,511,2020-08-21 04:30,...,기타항,기타항,견인용예선,5.0,7.0,0.0,Y,N,848705.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19198,광양,D7WG,HECAN,2021,1,최종,외항,출항,"9,858",2021-06-30 19:26,...,인천,부산,풀컨테이너선,2.0,13.0,NaN,Y,Y,NaN,NaN
19199,광양,3FRF8,SONG YUN HE,2021,20,최종,외항,입항,"16,737",2021-06-30 20:10,...,부산,SHANGHAI,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
19200,광양,050601,HALLA NO.2,2021,7,최종,내항,입항,"4,881",2021-06-30 21:30,...,인천,옥계항,시멘트운반선,8.0,8.0,0.0,Y,N,NaN,NaN
19201,광양,D5RD6,HUI DA,2021,9,최종,외항,입항,"9,553",2021-06-30 22:10,...,ZHANGJIAGANG,JINZHOU PT,산물선(벌크선),NaN,19.0,NaN,Y,Y,NaN,NaN
19202,광양,150073,아라호,2021,26,최종,내항,입항,190,2021-06-30 22:40,...,여수,여수,기타 유조선,2.0,2.0,0.0,N,N,NaN,NaN

In [7]:
df.shape

(19203, 28)

In [8]:
df.columns

Index(['항명', '호출부호', '선명', '입항횟수', '입항횟수.1', '구분', '외내', '입출', '총톤수', '입항일시',
       '출항일시', 'CIQ수속일자', '수리일시', '항해구분', 'MRN 번호', '계선장소', '계선장소.1', '계선장소.2',
       '차항지', '전출항지', '선박용도', '외항:한국인선원수\n내항:해기사선원수', '외항:외국인선원수\n내항:보통선원수',
       '승객', '예선', '도선', '부선호출부호1', '부선호출부호2'],
      dtype='object')