In [5]:
# 예)

import pandas as pd
ship = pd.read_excel('./data/terminal_operation/선박입출항현황.xlsx', header=11)
ship

C:\Users\uijin\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,...,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
0,광양,100148,티에스해피호,2019,32,최종,내항,출항,"3,407",2019-11-30 11:20,...,기타항,기타항,산물선(벌크선),5.0,0.0,0.0,Y,Y,NaN,NaN
1,광양,203402,더블유에스-2701,2020,2,최종,내항,출항,64,2020-08-03 09:00,...,군산,군산,기타선,3.0,0.0,0.0,N,N,NaN,NaN
2,광양,3EVV6,SPINNAKER SW,2020,1,최종,외항,출항,"19,836",2020-08-19 03:24,...,LAEM CHABANG,NANTONG PT,산물선(벌크선),NaN,19.0,NaN,Y,Y,NaN,NaN
3,광양,500HANJIN,한진그린호,2020,9,최종,내항,출항,"9,571",2020-08-20 06:50,...,기타항,기타항,석탄운반선,5.0,6.0,0.0,Y,Y,NaN,NaN
4,광양,D9KX,적봉호,2020,8,최종,내항,출항,511,2020-08-21 04:30,...,기타항,기타항,견인용예선,5.0,7.0,0.0,Y,N,848705.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19198,광양,D7WG,HECAN,2021,1,최종,외항,출항,"9,858",2021-06-30 19:26,...,인천,부산,풀컨테이너선,2.0,13.0,NaN,Y,Y,NaN,NaN
19199,광양,3FRF8,SONG YUN HE,2021,20,최종,외항,입항,"16,737",2021-06-30 20:10,...,부산,SHANGHAI,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
19200,광양,050601,HALLA NO.2,2021,7,최종,내항,입항,"4,881",2021-06-30 21:30,...,인천,옥계항,시멘트운반선,8.0,8.0,0.0,Y,N,NaN,NaN
19201,광양,D5RD6,HUI DA,2021,9,최종,외항,입항,"9,553",2021-06-30 22:10,...,ZHANGJIAGANG,JINZHOU PT,산물선(벌크선),NaN,19.0,NaN,Y,Y,NaN,NaN
19202,광양,150073,아라호,2021,26,최종,내항,입항,190,2021-06-30 22:40,...,여수,여수,기타 유조선,2.0,2.0,0.0,N,N,NaN,NaN

In [6]:
print(ship)

       항명       호출부호            선명  입항횟수  입항횟수.1  구분  외내  입출     총톤수  \
0      광양     100148        티에스해피호  2019      32  최종  내항  출항   3,407
1      광양     203402    더블유에스-2701  2020       2  최종  내항  출항      64
2      광양      3EVV6  SPINNAKER SW  2020       1  최종  외항  출항  19,836
3      광양  500HANJIN         한진그린호  2020       9  최종  내항  출항   9,571
4      광양       D9KX           적봉호  2020       8  최종  내항  출항     511
...    ..        ...           ...   ...     ...  ..  ..  ..     ...
19198  광양       D7WG         HECAN  2021       1  최종  외항  출항   9,858
19199  광양      3FRF8   SONG YUN HE  2021      20  최종  외항  입항  16,737
19200  광양     050601    HALLA NO.2  2021       7  최종  내항  입항   4,881
19201  광양      D5RD6        HUI DA  2021       9  최종  외항  입항   9,553
19202  광양     150073           아라호  2021      26  최종  내항  입항     190

                   입항일시  ...           차항지        전출항지      선박용도  \
0      2019-11-30 11:20  ...           기타항         기타항  산물선(벌크선)
1      2020-08-03 09:00  ...            군산          군산       기타선
2      2020-08-19 03:24  ...  LAEM CHABANG  NANTONG PT  산물선(벌크선)
3      2020-08-20 06:50  ...           기타항         기타항     석탄운반선
4      2020-08-21 04:30  ...           기타항         기타항     견인용예선
...                 ...  ...           ...         ...       ...
19198  2021-06-30 19:26  ...            인천          부산    풀컨테이너선
19199  2021-06-30 20:10  ...            부산    SHANGHAI    풀컨테이너선
19200  2021-06-30 21:30  ...            인천         옥계항    시멘트운반선
19201  2021-06-30 22:10  ...  ZHANGJIAGANG  JINZHOU PT  산물선(벌크선)
19202  2021-06-30 22:40  ...            여수          여수    기타 유조선

      외항:한국인선원수\n내항:해기사선원수 외항:외국인선원수\n내항:보통선원수   승객 예선 도선   부선호출부호1 부선호출부호2
0                      5.0                 0.0  0.0  Y  Y       NaN     NaN
1                      3.0                 0.0  0.0  N  N       NaN     NaN
2                      NaN                19.0  NaN  Y  Y       NaN     NaN
3                      5.0                 6.0  0.0  Y  Y       NaN     NaN
4                      5.0                 7.0  0.0  Y  N  848705.0     NaN
...                    ...                 ...  ... .. ..       ...     ...
19198                  2.0                13.0  NaN  Y  Y       NaN     NaN
19199                  NaN                23.0  NaN  Y  Y       NaN     NaN
19200                  8.0                 8.0  0.0  Y  N       NaN     NaN
19201                  NaN                19.0  NaN  Y  Y       NaN     NaN
19202                  2.0                 2.0  0.0  N  N       NaN     NaN

[19203 rows x 28 columns]

In [7]:
ship.shape

(19203, 28)

In [8]:
ship.columns

Index(['항명', '호출부호', '선명', '입항횟수', '입항횟수.1', '구분', '외내', '입출', '총톤수', '입항일시',
       '출항일시', 'CIQ수속일자', '수리일시', '항해구분', 'MRN 번호', '계선장소', '계선장소.1', '계선장소.2',
       '차항지', '전출항지', '선박용도', '외항:한국인선원수\n내항:해기사선원수', '외항:외국인선원수\n내항:보통선원수',
       '승객', '예선', '도선', '부선호출부호1', '부선호출부호2'],
      dtype='object')

In [9]:
unique_values = ship['입출'].unique()

print(unique_values)

['출항' '입항']

In [10]:
unique_values = ship['구분'].unique()

print(unique_values)

['최종' '최초']

In [12]:
import pandas as pd

# 날짜 형식으로 변환
ship['입항일시'] = pd.to_datetime(ship['입항일시'])
ship['출항일시'] = pd.to_datetime(ship['출항일시'])

# '입항'이면서 '최종'인 데이터 필터링
anchored_ships = ship[(ship['입출'] == '입항') & (ship['구분'] == '최종')]
anchored_ships

,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,입항일시,...,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
69,광양,3FAT5,광양프론티어,2020,26,최종,내항,입항,"9,751",2020-09-01 00:15:00,...,포항,인천,일반화물선,8.0,7.0,0.0,N,N,NaN,NaN
71,광양,055762,제2세윤호,2020,150,최종,내항,입항,178,2020-09-01 01:20:00,...,기타항,여수,석유제품 운반선,3.0,1.0,0.0,N,N,NaN,NaN
73,광양,068821,진안호,2020,2,최종,내항,입항,"1,528",2020-09-01 02:36:00,...,제주,삼척,핫코일운반선,8.0,6.0,0.0,Y,Y,NaN,NaN
76,광양,BOBO6,ZHONG WAI YUN SHEN ZHEN,2020,25,최종,외항,입항,"9,587",2020-09-01 02:48:00,...,NANJING,부산,풀컨테이너선,NaN,21.0,NaN,Y,Y,NaN,NaN
77,광양,3EJH7,FUYUAN,2020,2,최종,외항,입항,"24,533",2020-09-01 05:30:00,...,NAKHODKA,NAKHODKA,일반화물선,NaN,23.0,NaN,Y,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19197,광양,D7WG,HECAN,2021,1,최종,외항,입항,"9,858",2021-06-30 19:26:00,...,HONG KONG,부산,풀컨테이너선,2.0,13.0,NaN,Y,Y,NaN,NaN
19199,광양,3FRF8,SONG YUN HE,2021,20,최종,외항,입항,"16,737",2021-06-30 20:10:00,...,부산,SHANGHAI,풀컨테이너선,NaN,23.0,NaN,Y,Y,NaN,NaN
19200,광양,050601,HALLA NO.2,2021,7,최종,내항,입항,"4,881",2021-06-30 21:30:00,...,인천,옥계항,시멘트운반선,8.0,8.0,0.0,Y,N,NaN,NaN
19201,광양,D5RD6,HUI DA,2021,9,최종,외항,입항,"9,553",2021-06-30 22:10:00,...,ZHANGJIAGANG,JINZHOU PT,산물선(벌크선),NaN,19.0,NaN,Y,Y,NaN,NaN
19202,광양,150073,아라호,2021,26,최종,내항,입항,190,2021-06-30 22:40:00,...,여수,여수,기타 유조선,2.0,2.0,0.0,N,N,NaN,NaN

In [33]:
import pandas as pd

# 입항일시의 최솟값에서 출항일시의 최솟값에서 최대값 사이의 범위를 시간 단위로 생성(분과 초를 0으로 조정)
start_time = anchored_ships['입항일시'].min().replace(minute=0, second=0)
end_time = pd.Timestamp('2021-06-30 23:59:59') 
print(start_time)
print(end_time)
time_range = pd.date_range(start=start_time, end=end_time, freq='H')
print("시간 범위:")
print(time_range)

2020-09-01 00:00:00
2021-06-30 23:59:59
시간 범위:
DatetimeIndex(['2020-09-01 00:00:00', '2020-09-01 01:00:00',
               '2020-09-01 02:00:00', '2020-09-01 03:00:00',
               '2020-09-01 04:00:00', '2020-09-01 05:00:00',
               '2020-09-01 06:00:00', '2020-09-01 07:00:00',
               '2020-09-01 08:00:00', '2020-09-01 09:00:00',
               ...
               '2021-06-30 14:00:00', '2021-06-30 15:00:00',
               '2021-06-30 16:00:00', '2021-06-30 17:00:00',
               '2021-06-30 18:00:00', '2021-06-30 19:00:00',
               '2021-06-30 20:00:00', '2021-06-30 21:00:00',
               '2021-06-30 22:00:00', '2021-06-30 23:00:00'],
              dtype='datetime64[ns]', length=7272, freq='H')

In [34]:
# 시간별 정박 선박 수 초기화
anchored_count_per_hour = pd.Series(0, index=time_range)
print("시간별 정박 선박 수 초기화:")
print(anchored_count_per_hour.head(10))

시간별 정박 선박 수 초기화:
2020-09-01 00:00:00    0
2020-09-01 01:00:00    0
2020-09-01 02:00:00    0
2020-09-01 03:00:00    0
2020-09-01 04:00:00    0
2020-09-01 05:00:00    0
2020-09-01 06:00:00    0
2020-09-01 07:00:00    0
2020-09-01 08:00:00    0
2020-09-01 09:00:00    0
Freq: H, dtype: int64

In [55]:
anchored_ships['총톤수'] = anchored_ships['총톤수'].astype(str).str.replace(',', '').astype(float)


# 생성된 시간 범위를 인덱스로 하는 
anchored_count_per_hour = pd.Series(0, index=time_range)
total_tonnage_per_hour = pd.Series(0.0, index=time_range)

for _, row in anchored_ships.iterrows():
    anchored_count_per_hour[row['입항일시']:row['출항일시']] += 1
    total_tonnage_per_hour[row['입항일시']:row['출항일시']] += row['총톤수']

print(total_tonnage_per_hour.head(30))
print(anchored_count_per_hour.head(30))

C:\Users\uijin\AppData\Local\Temp\ipykernel_17608\1585145299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anchored_ships['총톤수'] = anchored_ships['총톤수'].astype(str).str.replace(',', '').astype(float)

2020-09-01 00:00:00         0.0
2020-09-01 01:00:00      9751.0
2020-09-01 02:00:00      9929.0
2020-09-01 03:00:00     21044.0
2020-09-01 04:00:00     20866.0
2020-09-01 05:00:00     20866.0
2020-09-01 06:00:00     45399.0
2020-09-01 07:00:00    104616.0
2020-09-01 08:00:00    108479.0
2020-09-01 09:00:00    121794.0
2020-09-01 10:00:00    194723.0
2020-09-01 11:00:00    199317.0
2020-09-01 12:00:00    200582.0
2020-09-01 13:00:00    203578.0
2020-09-01 14:00:00    188477.0
2020-09-01 15:00:00    188477.0
2020-09-01 16:00:00    188667.0
2020-09-01 17:00:00    188477.0
2020-09-01 18:00:00    205596.0
2020-09-01 19:00:00    215195.0
2020-09-01 20:00:00    215195.0
2020-09-01 21:00:00    216008.0
2020-09-01 22:00:00    134018.0
2020-09-01 23:00:00     44215.0
2020-09-02 00:00:00     44215.0
2020-09-02 01:00:00     44215.0
2020-09-02 02:00:00     44215.0
2020-09-02 03:00:00     44301.0
2020-09-02 04:00:00     44301.0
2020-09-02 05:00:00     46741.0
Freq: H, dtype: float64
2020-09-01 00:00:00     0
2020-09-01 01:00:00     1
2020-09-01 02:00:00     2
2020-09-01 03:00:00     4
2020-09-01 04:00:00     3
2020-09-01 05:00:00     3
2020-09-01 06:00:00     4
2020-09-01 07:00:00     5
2020-09-01 08:00:00     6
2020-09-01 09:00:00     8
2020-09-01 10:00:00    10
2020-09-01 11:00:00    11
2020-09-01 12:00:00    10
2020-09-01 13:00:00    11
2020-09-01 14:00:00     8
2020-09-01 15:00:00     8
2020-09-01 16:00:00     9
2020-09-01 17:00:00     8
2020-09-01 18:00:00     9
2020-09-01 19:00:00    10
2020-09-01 20:00:00    10
2020-09-01 21:00:00    10
2020-09-01 22:00:00     7
2020-09-01 23:00:00     5
2020-09-02 00:00:00     5
2020-09-02 01:00:00     5
2020-09-02 02:00:00     5
2020-09-02 03:00:00     6
2020-09-02 04:00:00     6
2020-09-02 05:00:00     7
Freq: H, dtype: int64

In [47]:
total_tonnage_per_hour

dtype('float64')

In [49]:
# 시리즈를 데이터프레임으로 변환
total_tonnage_df = total_tonnage_per_hour.reset_index()
total_tonnage_df.columns = ['DateTime', 'TotalTonnage']

# 날짜와 시간으로 분리
total_tonnage_df['날짜'] = total_tonnage_df['DateTime'].dt.date
total_tonnage_df['시간대'] = total_tonnage_df['DateTime'].dt.time

# 필요한 열 선택
total_tonnage_df = total_tonnage_df[['날짜', '시간대', 'TotalTonnage']]

# 결과 확인
print(total_tonnage_df.head())

           날짜       시간대  TotalTonnage
0  2020-09-01  00:00:00           0.0
1  2020-09-01  01:00:00        9751.0
2  2020-09-01  02:00:00        9929.0
3  2020-09-01  03:00:00       21044.0
4  2020-09-01  04:00:00       20866.0

In [60]:
# 시리즈를 데이터프레임으로 변환
anchored_count_df = anchored_count_per_hour.reset_index()
anchored_count_df.columns = ['DateTime', 'anchored_count']

# 날짜와 시간으로 분리
anchored_count_df['날짜'] = anchored_count_df['DateTime'].dt.date
anchored_count_df['시간대'] = anchored_count_df['DateTime'].dt.time

# 필요한 열 선택
anchored_count_df = anchored_count_df[['날짜', '시간대', 'anchored_count']]

# 결과 확인
print(anchored_count_df.head())

           날짜       시간대  anchored_count
0  2020-09-01  00:00:00               0
1  2020-09-01  01:00:00               1
2  2020-09-01  02:00:00               2
3  2020-09-01  03:00:00               4
4  2020-09-01  04:00:00               3

In [61]:
anchored_count_df

              날짜       시간대  anchored_count
0     2020-09-01  00:00:00               0
1     2020-09-01  01:00:00               1
2     2020-09-01  02:00:00               2
3     2020-09-01  03:00:00               4
4     2020-09-01  04:00:00               3
...          ...       ...             ...
7267  2021-06-30  19:00:00              79
7268  2021-06-30  20:00:00              80
7269  2021-06-30  21:00:00              81
7270  2021-06-30  22:00:00              80
7271  2021-06-30  23:00:00              79

[7272 rows x 3 columns]

In [62]:
print("anchored_count_df 데이터 타입:")
print(anchored_count_df.dtypes)
print("anchored_count_df 상위 5개 샘플:")
print(anchored_count_df[['날짜', '시간대']].head())

print("\ntotal_tonnage_df 데이터 타입:")
print(total_tonnage_df.dtypes)
print("total_tonnage_df 상위 5개 샘플:")
print(total_tonnage_df[['날짜', '시간대']].head())

anchored_count_df 데이터 타입:
날짜                object
시간대               object
anchored_count     int64
dtype: object
anchored_count_df 상위 5개 샘플:
           날짜       시간대
0  2020-09-01  00:00:00
1  2020-09-01  01:00:00
2  2020-09-01  02:00:00
3  2020-09-01  03:00:00
4  2020-09-01  04:00:00

total_tonnage_df 데이터 타입:
날짜               object
시간대              object
TotalTonnage    float64
dtype: object
total_tonnage_df 상위 5개 샘플:
           날짜       시간대
0  2020-09-01  00:00:00
1  2020-09-01  01:00:00
2  2020-09-01  02:00:00
3  2020-09-01  03:00:00
4  2020-09-01  04:00:00

In [65]:
# '날짜' 열을 datetime 타입으로 변환
anchored_count_df['날짜'] = pd.to_datetime(anchored_count_df['날짜'])

# '시간대' 열을 datetime.time 타입으로 변환
anchored_count_df['시간대'] = pd.to_datetime(anchored_count_df['시간대']).dt.time

# anchored_count_df['시간대'] = pd.to_datetime(anchored_count_df['시간대'], format='%H:%M:%S').dt.time
# total_tonnage_df datetime 변환
# total_tonnage_df['날짜'] = pd.to_datetime(total_tonnage_df['날짜'])
# total_tonnage_df['시간대'] = pd.to_datetime(total_tonnage_df['시간대'], format='%H:%M:%S').dt.time
# 
# # 결과 확인
print("anchored_count_df 변환 후 데이터 타입:")
print(anchored_count_df.dtypes)
print(anchored_count_df.head())
# 
# print("\ntotal_tonnage_df 변환 후 데이터 타입:")
# print(total_tonnage_df.dtypes)
# print(total_tonnage_df.head())

TypeError: <class 'datetime.time'> is not convertible to datetime

In [76]:
import pandas as pd

# 시리즈를 데이터프레임으로 변환하고 인덱스를 열로 변환
df = total_tonnage_per_hour.reset_index()
df.columns = ['DateTime', 'TotalTonnage']

# 'DateTime' 열을 이용하여 '날짜'와 '시간대' 열 생성
df['날짜'] = df['DateTime'].dt.date
df['시간대'] = df['DateTime'].dt.time


tonnage_df = df
# 결과 확인
print(tonnage_df.head())

             DateTime  TotalTonnage          날짜       시간대
0 2020-09-01 00:00:00           0.0  2020-09-01  00:00:00
1 2020-09-01 01:00:00        9751.0  2020-09-01  01:00:00
2 2020-09-01 02:00:00        9929.0  2020-09-01  02:00:00
3 2020-09-01 03:00:00       21044.0  2020-09-01  03:00:00
4 2020-09-01 04:00:00       20866.0  2020-09-01  04:00:00

In [73]:
anchored_count_df

             날짜       시간대  anchored_count
0    2020-09-01  00:00:00               0
1    2020-09-01  01:00:00               1
2    2020-09-01  02:00:00               2
3    2020-09-01  03:00:00               4
4    2020-09-01  04:00:00               3
...         ...       ...             ...
7267 2021-06-30  19:00:00              79
7268 2021-06-30  20:00:00              80
7269 2021-06-30  21:00:00              81
7270 2021-06-30  22:00:00              80
7271 2021-06-30  23:00:00              79

[7272 rows x 3 columns]

In [74]:
df

                DateTime  TotalTonnage          날짜       시간대
0    2020-09-01 00:00:00           0.0  2020-09-01  00:00:00
1    2020-09-01 01:00:00        9751.0  2020-09-01  01:00:00
2    2020-09-01 02:00:00        9929.0  2020-09-01  02:00:00
3    2020-09-01 03:00:00       21044.0  2020-09-01  03:00:00
4    2020-09-01 04:00:00       20866.0  2020-09-01  04:00:00
...                  ...           ...         ...       ...
7267 2021-06-30 19:00:00           NaN  2021-06-30  19:00:00
7268 2021-06-30 20:00:00           NaN  2021-06-30  20:00:00
7269 2021-06-30 21:00:00           NaN  2021-06-30  21:00:00
7270 2021-06-30 22:00:00           NaN  2021-06-30  22:00:00
7271 2021-06-30 23:00:00           NaN  2021-06-30  23:00:00

[7272 rows x 4 columns]

In [77]:
tonnage_df = df.drop(['DateTime'], axis=1)
tonnage_df

      TotalTonnage          날짜       시간대
0              0.0  2020-09-01  00:00:00
1           9751.0  2020-09-01  01:00:00
2           9929.0  2020-09-01  02:00:00
3          21044.0  2020-09-01  03:00:00
4          20866.0  2020-09-01  04:00:00
...            ...         ...       ...
7267           NaN  2021-06-30  19:00:00
7268           NaN  2021-06-30  20:00:00
7269           NaN  2021-06-30  21:00:00
7270           NaN  2021-06-30  22:00:00
7271           NaN  2021-06-30  23:00:00

[7272 rows x 3 columns]

In [80]:
print(tonnage_df)
print(anchored_count_df)

      TotalTonnage          날짜       시간대
0              0.0  2020-09-01  00:00:00
1           9751.0  2020-09-01  01:00:00
2           9929.0  2020-09-01  02:00:00
3          21044.0  2020-09-01  03:00:00
4          20866.0  2020-09-01  04:00:00
...            ...         ...       ...
7267           NaN  2021-06-30  19:00:00
7268           NaN  2021-06-30  20:00:00
7269           NaN  2021-06-30  21:00:00
7270           NaN  2021-06-30  22:00:00
7271           NaN  2021-06-30  23:00:00

[7272 rows x 3 columns]
             날짜       시간대  anchored_count
0    2020-09-01  00:00:00               0
1    2020-09-01  01:00:00               1
2    2020-09-01  02:00:00               2
3    2020-09-01  03:00:00               4
4    2020-09-01  04:00:00               3
...         ...       ...             ...
7267 2021-06-30  19:00:00              79
7268 2021-06-30  20:00:00              80
7269 2021-06-30  21:00:00              81
7270 2021-06-30  22:00:00              80
7271 2021-06-30  23:00:00              79

[7272 rows x 3 columns]

In [86]:
# 두 데이터프레임을 '날짜'와 '시간대'를 기준으로 합치기
merged_df = pd.merge(anchored_count_df, tonnage_df, on=['날짜', '시간대'], how='outer')

# 결과 확인
print(merged_df.head())

          날짜       시간대  anchored_count  TotalTonnage
0 2020-09-01  00:00:00               0           0.0
1 2020-09-01  01:00:00               1        9751.0
2 2020-09-01  02:00:00               2        9929.0
3 2020-09-01  03:00:00               4       21044.0
4 2020-09-01  04:00:00               3       20866.0

In [82]:
anchored_count_df.dtypes

날짜                datetime64[ns]
시간대                       object
anchored_count             int64
dtype: object

In [85]:
tonnage_df.dtypes

TotalTonnage           float64
날짜              datetime64[ns]
시간대                     object
dtype: object

In [84]:
tonnage_df['날짜'] = pd.to_datetime(df['날짜'])

In [87]:
# 병합된 데이터를 CSV 파일로 저장
merged_df.to_csv('./filtered_data/vessel.csv', index=False)

print('saved vessel.csv')

saved vessel.csv